html, body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background: #eceff1 !important;
}

html {
    width: 100%;
    height: 100%;
}

body {
    display: flex;
    flex-direction: row;
    height: 100%;
    padding: 1rem;
}

@media screen and (orientation:portrait) {
    body {
        flex-direction: column;
        height: auto;
    }
    .canvas_container {
        width: 100% !important;
        min-width: 100% !important;
    }
}

h1 {
    font-size: 2rem !important;
    text-align: center;
    margin-bottom: 30px !important;
}

hr {
    width: 100%;
    border-top: 0.1rem solid #b0bec5 !important;
}

.canvas_container {
    display: block;
    height: 100%;
    width: 50%;
    min-width: 50%;
    background: #fafafa;
    border: 1px solid #b0bec5;
    border-radius: 0.3rem;
}

#canvas {
    display: block;
    margin: auto;
}

.chart_container {
    width: 100%;
    margin-bottom: 1rem;
    background: #fafafa;
    border-radius: 0.3rem;
    border: 1px solid #b0bec5;
    padding: 1rem;
}

.settings {
    display: flex;
    flex-direction: column;
    overflow: auto;
    width: 100%;
    padding: 1rem;
}

.table {
    flex: auto;
    background: #fafafa !important;
    border-radius: 0.3rem !important;
    border: 1px solid #b0bec5;
}

.table tr:nth-child(1) th {
    border-top: 1px solid #b0bec5 !important;
}

.slidecontainer {
    flex: auto;
}

.slidecontainer .col-6 .card {
    background: #fafafa !important;
    border-radius: 0.3rem !important;
    border: 1px solid #b0bec5;
}

#button-row, #selector-row {
    text-align: center;
    margin: 0 !important;
    margin-top: 1rem !important;
}

.radio-box {
    display: inline-block;
    margin-left: 5px;
}

input[type="button"] {
    background: #fafafa !important;
    border-radius: 0.3rem !important;
    border: 1px solid #b0bec5;
}


.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 15px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #4CAF50;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #4CAF50;
    cursor: pointer;
}