@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700);
@import url(https://fonts.googleapis.com/css?family=Oswald:300,400,500,600);
@import url(https://fonts.googleapis.com/css?family=Volkhov:400italic);
body {
    line-height: 1.5;
    font-family: roboto, sans-serif;
    -webkit-font-smoothing: antialiased
}

h1, h2, h3, h4, h5, h6 {
    font-family: roboto, sans-serif
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 400
}

h1 {
    font-size: 40px
}

h2 {
    font-size: 28px
}

h3 {
    font-size: 20px
}

h4 {
    font-size: 18px
}

[p], p {
    color: #7b7b7b;
    font-size: 18px;
    font-family: roboto, sans-serif
}

ul {
    margin: 0
}

a, a:focus, a:hover {
    text-decoration: none;
    color: #655e7a
}

.btn-main {
    background: #655e7a;
    color: #fff;
    display: inline-block;
    font-size: 14px;
    letter-spacing: 1px;
    padding: 14px 35px;
    text-transform: uppercase;
    border-radius: 0;
    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    -ms-transition: all .2s ease;
    -o-transition: all .2s ease;
    transition: all .2s ease
}

.btn-main:hover {
    background: #353240;
    color: #fff
}

.btn-solid-border {
    border: 1px solid #fff;
    background: 0 0;
    color: #fff
}

.btn-solid-border:hover {
    border: 1px solid #e0f2f1!important;
    background: #00796b!important
}

.btn:active:focus, .btn:focus {
    outline: 0
}

.btn:focus {
    color: #ddd
}

.w-100 {
    width: 100%
}

.preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;
    z-index: 9999;
    display: flex;
    align-items: center;
    justify-content: center
}

.section {
    padding: 100px 0
}

.section-sm {
    padding: 70px 0
}

.title {
    padding: 20px 0 30px
}

.title h2 {
    font-size: 18px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px
}

.section-title {
    margin-bottom: 70px
}

.section-title h2 {
    text-transform: uppercase;
    font-size: 28px;
    font-weight: 600
}

.section-title p {
    font-style: italic;
    color: #666;
    font-family: volkhov, serif
}

.overly, .slider {
    position: relative
}

.overly:before, .slider:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #00695c;
    opacity: .8
}

.slider {
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: 10% 0;
    padding: 200px 0 280px;
    position: relative
}

.slider .block {
    color: #e3e3e4;
    text-align: center
}

.slider .block h1 {
    font-weight: 100;
    font-size: 45px;
    line-height: 60px;
    letter-spacing: 10px;
    padding-bottom: 20px;
    text-transform: uppercase
}

.slider .block .btn-main {
    background: #00695c;
    border: 1px solid #e0f2f1
}

.slider .block p {
    margin-bottom: 35px;
    color: #eee;
    font-size: 20px;
    line-height: 32px;
    font-weight: 300
}

.call-to-action {
    padding: 70px 0;
    text-align: center
}

.call-to-action:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #00695c;
    opacity: .95
}

.call-to-action h2 {
    color: #fff;
    padding-bottom: 20px
}

.call-to-action p {
    color: #fff
}

.call-to-action .btn-main {
    padding: 15px 35px;
    font-size: 12px;
    margin-top: 30px
}

.service {
    text-align: center;
    padding: 90px 0
}

.service-about p {
    line-height: 28px
}

.about {
    background-image: url(Screenshot_20200405_001755.png);
    position: relative
}

.about:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    opacity: .85
}

.about .block h2 {
    padding-top: 35px;
    margin: 0
}

.about .block p {
    padding-top: 20px;
    line-height: 28px
}

.about .section-title {
    margin-bottom: 0
}

.about .section-title p {
    color: #333;
    margin-bottom: 0
}

.author-about {
    margin-top: 40px
}

.post-author {
    margin-right: 20px
}

.bg-1 {
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed
}

.bg-2 {
    background-size: cover;
    background-attachment: fixed
}

.post {
    background: #fff;
    margin-bottom: 40px;
    padding-bottom: 20px
}

.post .post-title {
    margin-top: 10px;
    margin: 25px 0 0;
    text-transform: uppercase
}

.post .post-title a {
    color: #655e7a
}

.post .post-title a:hover {
    color: #655e7a
}

.post .post-meta {
    font-size: 13px;
    margin-top: 10px
}

.post .post-meta ul li {
    display: inline-block;
    color: #909090;
    margin-right: 20px;
    font-size: 12px;
    letter-spacing: .5px
}

.post .post-meta ul li a {
    color: #909090
}

.post .post-meta ul li a:hover {
    color: #655e7a
}

.post .post-meta .post-author {
    color: #000
}

.post .post-content {
    margin-top: 20px
}

.post .post-content p {
    line-height: 26px
}

.post .post-content ul {
    font-size: 15px;
    padding: 10px 20px;
    font-family: roboto, sans-serif;
    list-style: circle
}

.post .post-content .btn-main {
    padding: 10px 20px;
    margin: 15px 0;
    font-size: 12px
}

.footer {
    background: #f5f5f5;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 10px
}

.footer p {
    font-size: 13px;
    line-height: 25px;
    color: #919191
}

.footer a {
    color: #595959
}

.footer .copyright a {
    font-weight: 600
}

.about a:link {
  color: #ff4444;
}

.about a:hover {
  color: #00C851;
}


iframe{

  width: 100%;
  height: 400px;
}
